# This file contains common pin mappings for the Fysetc Spider board.
# To use this config, the firmware should be compiled for the STM32F446.
# When calling "menuconfig", enable "extra low-level configuration setup"
# and select the "12MHz crystal" as clock reference
# For flashing, write the compiled klipper.bin to memory location 0x08000000

# See docs/Config_Reference.md for a description of parameters.
## *** THINGS TO CHANGE/CHECK: ***
## Spider version                       Please search this file for "SpiderVersion" and uncomment the appropriate line for each
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location            [safe_z_home] sectiono
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Fine tune E steps                    [extruder] section

[include mainsail.cfg]
[include klicky-probe.cfg]
[include auto-z-calibration.cfg]
[include KAMP_Settings.cfg]
#[include stealthburner_leds.cfg]
#[include timelapse.cfg]
#[include adxl.cfg]

## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#restart_method: command
##  You need to select 'Communication interface' to USB in 'make menuconfig'
##  when you compile Klipper for Spider
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
##	If you want to use the Raspberry uart0 to communicate with Spider, 
##  you need to select 'Communication interface' to 'Serial (on USART1 PA10/PA9)' 
##  in 'make menuconfig' when you compile klipper and set the serial as below
##--------------------------------------------------------------------
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_290050001951333134383631-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

#[mcu camera]
#serial: /dev/ttyS2

##--------------------------------------------------------------------
[exclude_object]

[printer]
kinematics: corexy
max_velocity: 175  
max_accel: 2500			        #Max 4000
max_z_velocity: 15			#Max 15 for 12V TMC Drivers, can increase for 24Vmotion
max_z_accel: 300
square_corner_velocity: 5.0



#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PB14
position_min: 0

##--------------------------------------------------------------------
##	Uncomment for 300mm build
## TM zmieniłem wartość z 300 na 295
position_endstop: 295
position_max: 295
##--------------------------------------------------------------------
homing_speed: 90   #Max 100
homing_retract_dist: 6
homing_positive_dir: true

[firmware_retraction]
retract_length: 1  # Długość retrakcji w milimetrach
retract_speed: 35.0  # Prędkość retrakcji w mm/s
unretract_extra_length: 0  # Dodatkowa długość po retrakcji
unretract_speed: 35.0  # Prędkość powrotu filamentu w mm/s

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PE7
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PB13
position_min: 0
##--------------------------------------------------------------------
##	Uncomment for 300mm build
## TM Zmieniełem wartość z 300 na 295
position_endstop: 295
position_max: 295

##--------------------------------------------------------------------
homing_speed: 100 #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE15
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0
#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
## Endstop fizyczny na Z
endstop_pin: ^PA0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------
##	Uncomment below for 300mm build
position_max: 290
position_min: -5 # było -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD10
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E1-MOT Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E2-MOT Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: true
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E3-MOT Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: !PC4
enable_pin: !PE8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PA15
interpolate: true
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: PD5
dir_pin:!PD6
enable_pin: !PD4
max_extrude_cross_section: 0.7 # Maksymalny przepływ mm2

##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 12.65	#Bondtech 5mm Drive Gears
gear_ratio: 50:17				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
##      In E0 OUT Position
heater_pin: PB15
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC0 # TE0 Position
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.05
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##	In E0-MOT Position
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.5
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB0 # TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#	Probe
#####################################################################
[probe]
##	Inductive Probe - If you use this section , please comment the [bltouch] section
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NC instead of NO, add change pin to ^PA3
pin: ^PA3
x_offset: 0
y_offset: 19.75
z_offset: 5.7 # zwiększenie wartości podnosi dysze od stołu
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.1
samples_tolerance_retries: 3

[bed_mesh]
speed: 300
horizontal_move_z: 15
mesh_min: 20, 20
mesh_max: 275, 275
fade_start: 0.6
fade_end: 10.0
probe_count: 5, 5
algorithm: bicubic
zero_reference_position: 150, 150
#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
##  Uncomment below for SpiderVersion 1.x
#pin: PB0
##  Uncomment below for SpiderVersion 2.2
pin: PA13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
pin: PA14
max_power: 0.4
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 1

[heater_fan exhaust_fan]
##  Exhaust fan - In E2 OUT Positon
pin: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

[controller_fan nevermore]
# Nevermore - In E1 OUT Position
pin: PC8
kick_start_time: 0.500
fan_speed: 0.5

#####################################################################
#	LED Control 
#####################################################################




#[camera]
#type: raspicam
#camera_framerate: 15
#camera_flip: horizontal
#camera_frame_width: 640
#camera_frame_height: 480
#bit_rate: 250000




#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
   
[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions
#--------------------------------------------------------------------
##	Gantry Corners for 300mm Build
##	Uncomment for 300mm build
gantry_corners:
    -60,-10
	360,370
##	Probe points
points:
	55,35
	55,235
	240,235
	240,35
#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 8
retries: 5
retry_tolerance: 0.0075
max_adjust: 15


#####################################################################
#	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    ##	Uncomment for for your size printer:
    #--------------------------------------------------------------------   
    ##	Uncomment for 300 build
    G0 X150 Y150 Z30 F3600
    #--------------------------------------------------------------------

[gcode_macro PRINT_START]

#variable_area_start: AREA_START     # Domyślna wartość AREA_START
#variable_enable_calibrate_z: 1  # Domyślna wartość: 1 (włączona)
#variable_enable_qgl: 0  # Domyślna wartość: 0 (wyłączone)
#variable_enable_bed_mesh: 0  # Domyślna wartość: 0 (wyłączone)
#variable_enable_kamp: 1  # Domyślna wartość: 1 (włączone KAMP)

gcode:
  # Definiowanie domyślnych wartości
  {% set default_qgl = 0 %}
  {% set default_bed_mesh = 0 %}
  {% set default_kamp = 1 %}
  {% set default_calibrate_z = 1 %}
  {% set default_area_start = "0,0" %}
  {% set default_area_end = "295,295" %}
  {% set default_bed_temp = 60 %}
  {% set default_extruder_temp = 200 %}
  #
  {% set x_min = params.X_MIN|default(0)|float %}
  {% set x_max = params.X_MAX|default(295)|float %}
  {% set y_min = params.Y_MIN|default(0)|float %}
  {% set y_max = params.Y_MAX|default(295)|float %}

  # Ustawienia na podstawie parametrów
  {% set area_start = params.AREA_START|default(default_area_start)|string %}
  {% set area_end = params.AREA_END|default(default_area_end)|string %}
  {% set target_bed = params.BED|default(default_bed_temp)|int %}
  {% set target_extruder = params.EXTRUDER|default(default_extruder_temp)|int %}
  {% set qgl_enabled = params.ENABLE_QGL|default(default_qgl)|int %}
  {% set bed_mesh_enabled = params.ENABLE_BED_MESH|default(default_bed_mesh)|int %}
  {% set kamp_enabled = params.ENABLE_KAMP|default(default_kamp)|int %}
  {% set enable_calibrate_z = params.ENABLE_CALIBRATE_Z|default(default_calibrate_z)|int %}
  
  # 1. Homing
  G28
  G90  # Pozycjonowanie absolutne

  ADAPTIVE_MESH_CALIBRATE ADAPTIVE=1
  #KAMP_CALCULATE AREA_START={x_min},{y_min} AREA_END={x_max},{y_max}

  # 2. Quad Gantry Level (jeśli włączone)
#  {% if qgl_enabled == 1 %}
 # SET_DISPLAY_TEXT MSG="Wykonywanie QGL"
 # Attach_Probe
 # QGL_MANUAL
#  G28 Z
 # Dock_Probe
 # {% endif %}



  # 4. Adaptacyjne poziomowanie stołu Klipper Mesh (jeśli włączone)
  #{% if bed_mesh_enabled == 1 %}
  #SET_DISPLAY_TEXT MSG="KAMP Adaptacyjne poziomowanie"
  #BED_MESH_CALIBRATE AREA_START={area_start} AREA_END={area_end}
  #KAMP_CALCULATE AREA_START={x_min},{y_min} AREA_END={x_max},{y_max}
  #{% endif %}

  # 5. Rozgrzewanie stołu i dyszy równocześnie
  M140 S{target_bed}    ; Rozpocznij podgrzewanie stołu
  M104 S{target_extruder} ; Rozpocznij podgrzewanie dyszy
  
  # 6. Przygotowanie przed startem druku
  G1 X5 Y5 Z10 F3000  ; Uniknięcie kolizji
  #z kamp dodane
  Smart_Park
  
  # 7. Oczekiwanie na temperatury
  M190 S{target_bed}    ; Czekaj na osiągnięcie temperatury stołu
  M109 S{target_extruder} ; Czekaj na osiągnięcie temperatury dyszy

  # 8. Kalibracja Z-offsetu (jeśli włączona)
  {% if enable_calibrate_z == 1 %}
  SET_DISPLAY_TEXT MSG="Kalibracja Z-offsetu"
  CALIBRATE_Z
  {% endif %}

  SET_DISPLAY_TEXT MSG="DRUKOWANIE... BRrr"

#####

[gcode_macro PRINT_END]
gcode:
    M400                           ; Czekaj na opróżnienie bufora
    G92 E0                         ; Wyzeruj ekstruder
    G1 E-1.0 F3600                 ; Retract filamentu
    G91                            ; Pozycjonowanie względne
    G0 Z1.0 X290.0 Y290.0 F20000   ; Przenieś dyszę w róg
    TURN_OFF_HEATERS               ; Wyłącz grzałki
    M107                           ; Wyłącz wentylator
    G1 Z5 F3000                    ; Podnieś dyszę o 2 mm
    G90                            ; Pozycjonowanie absolutne
    G0 X290 Y290 F3600             ; Zaparkuj dyszę
    BED_MESH_CLEAR                 ; Wyczyść siatkę stołu


[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BASE_BED_MESH_CALIBRATE
gcode:
    BED_MESH_CLEAR                   ; Wyczyść poprzednią siatkę
    G28                              ; Homing wszystkich osi
    G1 Z20 F6000                     ; Przenieś głowicę na 10 mm nad stół
    Attach_Probe                     ; Podłącz czujnik (przed kalibracją)
    BASE_BED_MESH_CALIBRATE AREA_START={params.AREA_START|default("0,0")} AREA_END={params.AREA_END|default("295,295")}
    #BASE_BED_MESH_CALIBRATE AREA_START=10,10 AREA_END=100,100
    #QUAD_GANTRY_LEVEL                ; Wykonaj poziomowanie stołu
    #G1 X125 Y125 Z10 F6000           ; Przenieś głowicę na środek
    Dock_Probe                       ; Odłóż czujnik po zakończeniu kalibracji


[gcode_macro ADAPTIVE_MESH_CALIBRATE]
gcode:
    {% set HOME = printer.toolhead.homed_axes %}
    {% if "z" not in HOME %}
        G28 Z
    {% endif %}
    {% if "x" not in HOME or "y" not in HOME %}
        G28 X Y
    {% endif %}
    M117 Probing Bed ...
    BED_MESH_PROFILE LOAD=default
    BED_MESH_CALIBRATE



[gcode_macro QGL_ENABLE]
gcode:
  SET_GCODE_VARIABLE MACRO=QGL_ENABLE VARIABLE=qgl_enabled VALUE=1
  SET_DISPLAY_TEXT MSG="QGL: Włączone"
  
[gcode_macro QGL_MANUAL]
gcode:
    G90
    G1 Z20 F2000   ; Podniesienie osi Z przed poziomowaniem
    QUAD_GANTRY_LEVEL
    G1 Z20 F2000   ; Opcjonalne podniesienie osi Z po poziomowaniu

[gcode_macro QGL_DISABLE]
gcode:
  SET_GCODE_VARIABLE MACRO=QGL_ENABLE VARIABLE=qgl_enabled VALUE=0
  SET_DISPLAY_TEXT MSG="QGL: Wyłączone"

[gcode_macro BED_MESH_ENABLE]
gcode:
  SET_GCODE_VARIABLE MACRO=BED_MESH_ENABLE VARIABLE=bed_mesh_enabled VALUE=1
  SET_DISPLAY_TEXT MSG="Bed Mesh: Włączone"

[gcode_macro BED_MESH_DISABLE]
gcode:
  SET_GCODE_VARIABLE MACRO=BED_MESH_ENABLE VARIABLE=bed_mesh_enabled VALUE=0
  SET_DISPLAY_TEXT MSG="Bed Mesh: Wyłączone"

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

    
    #after the original gcode
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 34.151
#*# pid_ki = 1.258
#*# pid_kd = 231.797
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.272
#*# pid_ki = 8.727
#*# pid_kd = 44.181
#*#
#*# [stepper_z]
#*# position_endstop = 3.565
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -3.365726, -3.118226, -2.968226, -2.845726, -2.780726
#*# 	  -1.930726, -1.720726, -1.540726, -1.388226, -1.303226
#*# 	  -0.555726, -0.293226, -0.050726, 0.044274, 0.191774
#*# 	  0.896774, 1.154274, 1.326774, 1.516774, 1.704274
#*# 	  2.324274, 2.589274, 2.829274, 2.999274, 3.246774
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 275.0
#*# min_y = 20.0
#*# max_y = 275.0
